name: workflow

on: [push]

jobs:
  job:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Lint
        uses: akasai/ts-lint-action@1.2.4
        with:
          lintFile: 'tslint.json'
          token: ${{ secrets.GITHUB_TOKEN }}
